@font-face {
    font-family: 'Lato';
    src: url('Fonts/Lato-Bold.woff') format('woff'),
         url('Fonts/Lato-Bold.ttf') format('truetype'),
         url('Fonts/Lato-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
} @font-face {
    font-family: 'Lato';
    src: url('Fonts/Lato-BoldItalic.woff') format('woff'),
         url('Fonts/Lato-BoldItalic.ttf') format('truetype'),
         url('Fonts/Lato-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
} @font-face {
    font-family: 'Lato';
    src: url('Fonts/Lato-Light.woff') format('woff'),
         url('Fonts/Lato-Light.ttf') format('truetype'),
         url('Fonts/Lato-Light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
} @font-face {
    font-family: 'Lato';
    src: url('Fonts/Lato-Regular.woff') format('woff'),
         url('Fonts/Lato-Regular.ttf') format('truetype'),
         url('Fonts/Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*===============================PAGE===============================*/
body {
    margin: 0;
    background: rgb(30, 30, 30);
	font-family: Lato, Helvetica, sans-serif;
    font-weight: normal;
	color: white;
} #main_wrapper {
    background-size: 100%;
} .display {
    display: flex;
    flex-direction: column;
    align-content: stretch;
} ul {
    list-style-type: none;
} img {
    width: 20em;
} a {
    text-decoration: none;
    color: white;
}

/*===============================HEADER===============================*/
#header-container {
    height: 150px;
    background-size: 100%;
} header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(to top, rgba(30,30,30,0.2), 70%, rgba(190, 190, 190, 1));
    z-index: 9999;
}
/*---------------LOGO----------------*/
.header-logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
} .logo {
    width: fit-content;
}
/*---------------MENU----------------*/
.menu-container {
    display: flex;
    justify-content: center;
    width: 100%;
} .menu {
    display: flex;
    width: 75%;
    padding-left: 0%;
    flex-direction: row;
    justify-content: space-between;
}
/*===============================BANNER===============================*/
/*=================================BIO================================*/
#bio {
    display: flex;
    padding: 5%;
} .bio-text-container {
    padding: 5%;
    text-align: justify;
}
/*==============================CLOSE UP==============================*/
#closeup-container {
    background-color: rgba(0, 0, 20, 0.2);
} #closeup {
    display: flex;
    flex-direction: column;
}
/*---------------IMAGES----------------*/
.closeup-images {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
} .closeup-image {
    height: 20em;
    flex: 1;
} 
/*---------------TEXT----------------*/
.closeup-title-container {
    display: flex;
    padding: 2.5% 0% 0.5% 0%;
    justify-content: center;
} .closeup-description-container {
    display: flex;
    padding: 0.5% 5% 0% 5%;
    text-align: justify;
}
/*=============================PRESTATIONS=============================*/
#prestations-container {
    padding: 10%;
} #prestations {
    display: flex;
    flex-direction: column;
    border-radius: 2%;
}
/*---------------INTRO----------------*/
.prestations-intro-container {
    display: flex;
    justify-content: center;
} .prestations-intro {
    display: flex;
    flex-direction: column;
}
/*---------------TITLE----------------*/
.prestations-titles-container {
    padding: 2%;
} .prestations-titles {
    display: flex;
    justify-content: space-around;
} .prestations-title.active {
    border-style: groove;
    border-width: 0 1px 1px 0;
    padding: 0 2% 2% 0;
    margin: 0 -2% -2% 0;
    border-color: aliceblue;
}
/*---------------DESCR----------------*/
.prestations-description {
    display: flex;
    flex-direction: column;
} .text-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} .prestations-description-text {
    text-align: justify;
    padding-right: 5%;
} .buttons-container {
    display: flex;
    flex-direction: column;
} .more-buttons-container {
    display: flex;
    justify-content: space-around;
    margin: 2em;
} button {
    padding: 1.3%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 20, 1);
    border: none;
} .more-buttons-container button.active {
    font-weight: bold;
}
/*---------------DEVIS----------------*/
.devis-button-container {
    display: flex;
    justify-content: center;
}
/*=============================TESTIMONIAL=============================*/
/*===============================GALLERY===============================*/
/*================================FORM================================*/
#Form-container {
    background-color: rgba(0, 0, 20, 0.2);
    padding: 5%;
} Form {
    display: flex;
    flex-direction: column;
}
/*---------------TEXT----------------*/
.Form-title-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} .Form-desc {
    padding: 0 5% 5% 5%;
    text-align: justify;
}
/*---------------FORM----------------*/
.Formulaire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Formulaire input {
    width: 45%;
    line-height: 250%;
} .Formulaire input, .Formulaire textarea {
    background-color: rgba(0, 0, 20, 0);
    color: white;
    margin: 0 2% 2% 2%;
    border-color: transparent;
    border-bottom-color: white;
    border-bottom-width: 1px;
} .Formulaire textarea {
    width: 95%;
}
/*===============================FOOTER===============================*/
#footer-container {
    width: 100%;
} #footer {
    display: flex;
    justify-content: center;
    background-color: rgba(190, 190, 190, 0.9);
    color: rgb(30, 30, 30);
}
/*---------------LOGO----------------*/
.footer-logo {
    justify-content: center;
    align-items: center;
}
/*-------------CONTACTS--------------*/
.footer-contacts {
    padding: 2%;
    display: flex;
    flex-direction: column;
} .footer-contacts-title {
    text-align: center;
} .footer-contacts-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
} .footer-contacts-text div {
    padding-bottom: 2%;
} .networks {
    display: flex;
} .networks-logo {
    width: 30px;
    height: 30px;
    padding: 10%;
}
/*---------------SPEC----------------*/
.footer-specialties {
    padding: 2%;
    display: flex;
    flex-direction: column;
} .footer-spacialties-title {
    text-align: center;
} .footer-specialties-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
} .footer-specialties-text li {
    padding-bottom: 2%;
}