/*=============================PRESTATIONS=============================*/
#prestations-container {
    padding: 0;
    margin: 0;
    background-color: white;
    color: rgb(30, 30, 30);
} #prestations {
    padding: 5%;
    display: flex;
    flex-direction: column;
}
/*---------------INTRO----------------*/
.prestations-intro-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
} .prestations-intro {
    display: flex;
    flex-direction: column;
}
/*---------------TITLE----------------*/
.prestations-titles-container {
    padding: 2%;
} .prestations-titles {
    display: flex;
    justify-content: space-around;
} .prestations-title {
    border-style: groove;
    border-width: 0 1px 1px 0;
    padding: 0 2% 2% 0;
    margin: 0 -2% -2% 0;
    border-color: aliceblue;
}
/*---------------DESCR----------------*/
.prestations-description {
    display: flex;
    flex-direction: column;
} .text-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} .prestations-description-image {
    width: 20em;
} .prestations-description-text {
    text-align: justify;
    padding-right: 5%;
} .buttons-container {
    display: flex;
    flex-direction: column;
} .more-buttons-container {
    display: flex;
    justify-content: space-around;
    margin: 2em;
} button {
    padding: 1.3%;
    border-width: .5px;
    border-color: rgb(30, 30, 30);
    border-radius: 10px;
    color: rgb(30, 30, 30);
    background-color: white;
} .more-buttons-container button.active {
    font-weight: bold;
    border-width: 2px;
}
/*---------------DEVIS----------------*/
.devis-button-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
} .devis-button {
    background-color: white;
    color: rgb(30, 30, 30);
    margin: 1% 2% -1% 2%;
    border-color: rgb(30, 30, 30);
    border-radius: 10px;
    border-width: 1px;
    width: 82%;
}

/*===============================SMALLSCREEN===============================*/
@media all and (max-width: 1024px) {
    .prestations-description-image {
        display: none;
    } .prestations-titles {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } .prestations-title {
        border-style: groove;
        border-width: 0 1px 1px 0;
        padding-bottom: 2%;
        margin-bottom: 4%;
        width: 50%;
        border-color: rgba(30, 30, 30, 0.8);
        border-radius: 10px;
    }
}